:root{
    --color-bg: #1f1f38;
    --color-bg-variant : #2c2c6c;
    --color-primary : #4db5ff;
    --color-primary-variant : rgba(77,181,225,0.4);
    --color-white : #fff;
    --color-light : rgba(255 ,255, 255, 0.6);
    --transition: all 0.4s ease ;
}
nav{
    background: rgba(0,0 , 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;     
    z-index: 10;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(3px);
}
nav a{
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
    display: flex;
}
nav a.active{
    background: var(--color-primary );
    color: var(--color-white);
}
nav a:hover{
    background: rgba( 0 , 0 , 0 , 0.3);
}